@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}

<h1 class="text-info">Roles</h1>
<partial name="_RoleForm" model="new RoleFormViewModel()" />

<table class="table table-bordered table-striped table-hover mt-3">
    <thead class="bg-info text-white">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Role in Model)
        {
            <tr>
                <td>@Role.Id</td>
                <td>@Role.Name</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}

